<div class="container">
    <div class="row" style="display: block; max-width:400px">
        <h1>New User</h1>

        <%= render 'form', user: @user %>
        <br/>
        <%= link_to 'Back', users_path %>
    </div>
    
</div>